In [3]:
import pandas as pd
import nasdaqdatalink

In [4]:
nasdaqdatalink.ApiConfig.api_key = "6gZWZ6KMH_ojjsez-gm_"

In [5]:
df = nasdaqdatalink.get(dataset="WIKI/AAPL",
                       start_date="2011-01-01",
                       end_date="2021-12-31")

In [6]:
df.head()

,Open,High,Low,Close,Volume,Ex-Dividend,Split Ratio,Adj. Open,Adj. High,Adj. Low,Adj. Close,Adj. Volume
Date,,,,,,,,,,,,
2011-01-03,325.6400,330.26,324.8365,329.57,15897800.0,0.0,1.0,41.849279,42.443013,41.746018,42.354338,111284600.0
2011-01-04,332.4400,332.50,328.1500,331.29,11038600.0,0.0,1.0,42.723173,42.730884,42.171849,42.575382,77270200.0
2011-01-05,329.5500,334.34,329.5000,334.00,9125700.0,0.0,1.0,42.351768,42.967350,42.345342,42.923655,63879900.0
2011-01-06,334.7194,335.25,332.9000,333.73,10729600.0,0.0,1.0,43.016108,43.084298,42.782290,42.888956,75107200.0
2011-01-07,333.9900,336.35,331.9000,336.12,11140400.0,0.0,1.0,42.922370,43.225663,42.653776,43.196105,77982800.0

In [7]:
df = nasdaqdatalink.get(dataset="WIKI/AAPL",
                       start_date="2011-01-01",
                       end_date="2021-12-31",
                        collapse="annually")

In [8]:
df.head()

,Open,High,Low,Close,Volume,Ex-Dividend,Split Ratio,Adj. Open,Adj. High,Adj. Low,Adj. Close,Adj. Volume
Date,,,,,,,,,,,,
2011-01-03,325.6400,330.26,324.8365,329.57,15897800.0,0.0,1.0,41.849279,42.443013,41.746018,42.354338,111284600.0
2011-01-04,332.4400,332.50,328.1500,331.29,11038600.0,0.0,1.0,42.723173,42.730884,42.171849,42.575382,77270200.0
2011-01-05,329.5500,334.34,329.5000,334.00,9125700.0,0.0,1.0,42.351768,42.967350,42.345342,42.923655,63879900.0
2011-01-06,334.7194,335.25,332.9000,333.73,10729600.0,0.0,1.0,43.016108,43.084298,42.782290,42.888956,75107200.0
2011-01-07,333.9900,336.35,331.9000,336.12,11140400.0,0.0,1.0,42.922370,43.225663,42.653776,43.196105,77982800.0